.cache/
.pytest_cache/
__pycache__/

# Build directories
build/
build_*_*/

# sdkconfig backups
sdkconfig.old

# idf-component-manager output
dependencies.lock
managed_components/

# Squareline backup/autosave
**/squareline/backup/**
**/squareline/autosave/**

# idf-ci build run output
build_summary_*.xml
app_info_*.txt
size_info_*.txt.vscode/settings.json
=======
size_info_*.txt

# VSCode settings
.vscode/settings.json
