CONFIG_IDF_TARGET="esp32s3"
CONFIG_FREERTOS_HZ=1000

# UART Config (S3 typically uses 43/44 for UART0, but we can use any pins)
# Using Pins adjacent to USB-UART for convenience if using header
CONFIG_DRO_UART_PORT_NUM=1
CONFIG_DRO_UART_TX_PIN=1
CONFIG_DRO_UART_RX_PIN=2

# Encoder Config (S3 has 4 PCNT units - Must disable one axis)
CONFIG_DRO_ENABLE_AXIS_0=y
CONFIG_DRO_ENC_AXIS_0_A=4
CONFIG_DRO_ENC_AXIS_0_B=5

CONFIG_DRO_ENABLE_AXIS_1=y
CONFIG_DRO_ENC_AXIS_1_A=6
CONFIG_DRO_ENC_AXIS_1_B=7

CONFIG_DRO_ENABLE_AXIS_2=y
CONFIG_DRO_ENC_AXIS_2_A=15
CONFIG_DRO_ENC_AXIS_2_B=16

CONFIG_DRO_ENABLE_AXIS_3=y
CONFIG_DRO_ENC_AXIS_3_A=17
CONFIG_DRO_ENC_AXIS_3_B=18

# Disable 5th Axis to fit in 4 PCNT units
CONFIG_DRO_ENABLE_AXIS_4=n
