CONFIG_IDF_TARGET="esp32"
CONFIG_FREERTOS_HZ=1000

# UART Config (Standard Pins for DevKitC)
CONFIG_DRO_UART_PORT_NUM=1
CONFIG_DRO_UART_TX_PIN=17
CONFIG_DRO_UART_RX_PIN=16

# Encoder Config (Standard ESP32 has 8 PCNT units, can enable all 5 axes)
CONFIG_DRO_ENABLE_AXIS_0=y
CONFIG_DRO_ENC_AXIS_0_A=25
CONFIG_DRO_ENC_AXIS_0_B=26

CONFIG_DRO_ENABLE_AXIS_1=y
CONFIG_DRO_ENC_AXIS_1_A=27
CONFIG_DRO_ENC_AXIS_1_B=14

CONFIG_DRO_ENABLE_AXIS_2=y
CONFIG_DRO_ENC_AXIS_2_A=12
CONFIG_DRO_ENC_AXIS_2_B=13

CONFIG_DRO_ENABLE_AXIS_3=y
CONFIG_DRO_ENC_AXIS_3_A=15
CONFIG_DRO_ENC_AXIS_3_B=2

CONFIG_DRO_ENABLE_AXIS_4=y
CONFIG_DRO_ENC_AXIS_4_A=4
CONFIG_DRO_ENC_AXIS_4_B=5
