menu "E-Leadscrew Hardware Selection"
    choice ROLE_TARGET
        prompt "Select Firmware Operational Role"
        default ROLE_BACKEND
        
        config ROLE_BACKEND
            bool "DRO/ELS Backend (Full Motor Control & Display HID)"
            
        config ROLE_GENERATOR
            bool "HIL Test Generator (Produces fake Spindle pulses)"
    endchoice

    choice BOARD_TARGET
        prompt "Select Backend Hardware Board"
        default BOARD_ESP32P4C6_OSPREY
        
        config BOARD_ESP32P4C6_OSPREY
            bool "ESP32-P4C6-osprey Baseboard"
            
        config BOARD_ESP32P4_TINY
            bool "ESP32-P4 WT9932P4-TINY"
            
        config BOARD_ESP32S3
            bool "ESP32-S3 Generic Board"
    endchoice
endmenu
